html
  head
    link(rel='stylesheet', type='text/css', href='/index.css')
    link(href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet")
    script(type='text/javascript', href='/index.js')
  body
    div.grey-line
    div.left-container
      div.img
        img(src='/images/github.png').git
      br
      div.left-text
        h1.title Info
        hr.line
        div.info
          h2.subtitle Name
          p Tristan Deering
          h2.subtitle Address
          p.spaced
            | 103-2021 Grantham Court
            | Edmonton, Alberta
            | Canada
          h2.subtitle Phone
          p 780-242-3170
          h2.subtitle Email
          p tristandeering@hotmail.com
        h1.title References
        hr.line
        div.references
          h2.subtitle Mathew Whitney
          p.spaced
            | 3RD Perspective Design, Owner
            | Phone: 780-937-5058
          h2.subtitle Steve Souto
          p.spaced
            | Steve & Dan’s, Owner
            | Phone: 780-937-5058
        h1.title projects
        hr.line
        div.projects
          h2.subtitle Best Of 3
          p.spaced
            | Best of 3 is an online modern retro
            | fusion arcade where you face your
            | friend in 3 rounds of random games
            | made with p5.js
          h2.subtitle Group Chat
          p.spaced
            | Online application in which users can
            | create an account and then create
            | and join other users rooms to chat
