@import url(font-awesome.min.css);
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,800,800italic");

/* BASIC SETUP */
html, body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins";
}

#top, #bottom, #left, #right {
  background: #222222;
  position: fixed;
  }
  #left, #right {
    top: 0; bottom: 0;
    width: 17px;
    }
    #left { left: 0; }
    #right { right: 0; }

  #top, #bottom {
    left: 0; right: 0;
    height: 17px;
    }
    #top { top: 0; }
    #bottom { bottom: 0; }

#content-wrapper {
  margin: 2rem;
/*  background-image: url("../../images/cover");
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;*/
}

/* CONTENT */




/* RESPONSIVE */

@media

/* Fairly small screens including iphones */
only screen and (max-width: 500px),

/* iPads */
only screen and (min-device-width: 768px) and (max-device-width: 1024px)

{
  #top, #bottom, #left, #right { display: none; }
}




