@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* LAYOUT */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Playfair Display', serif;
  overflow: hidden;
}

/* Left */

  #left-content {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 50%;
  }
    .poster {
      /*float: left;*/
      margin-right: 1rem;
      padding: 1rem;
      color: #eeeeee;
      display: inline-block;
      background-color: #333333;
    }
    .face {
      width: 100%;
      max-width: 165px;
    }

  .left-info-slide {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
  }
    .left-info-slide .container {
      background-color: #3C45C0;
      color: #eeeeee;
    }
      .bio {
        margin: 0 3%;
        text-align: center;
        line-height: 1.5rem;
        letter-spacing: 1.5px;
        font-size: 1.15rem;
      }
      .links {
        position: absolute;
        bottom: 1rem;
        right: 1.1rem;
      }
      li {
        margin: 1rem;
        float: left;
        display: block;
        cursor: pointer;
      }
      .coffee {
        width: 50px;
      }

  .right-content-slide {
    z-index: 400;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
  }


/* Navigation */

  #slider {

  }

/* Right */

  #right-content {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
  }

  .right-info-slide {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
  }

  .left-content-slide {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
  }
    .left-content-slide .container {
      background-image: url('../images/bo3.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

/* CONTENT */

#contact {
  color: black;
  position: absolute;
  left: 2rem;
  bottom: 2rem;
  font-size: 0.8rem;
  cursor: pointer;
}
  .purp {
    position: absolute;
    left: -2px;
    top: -10px;
    margin: 5px;
    background-color: #3C45C0;
    width: 20px;
    height: 3px;
  }

#details {
  position: relative;
  top: 48%;
  left: 90%;
}

.fas {
  color: #eeeeee;
  opacity: 1;
  text-align: center;
  cursor: pointer;
  font-size: 1.6rem;
  background-color: #3C45C0;
  border-radius: 50%;
  padding: 8px 11px 8px 13px;
}

.container {
  overflow: hidden;
  color: #444444;
  padding: 2rem;
  height: calc(100vh - 4rem);
  background-color: white;
}

#tl1 {
  margin-top: 5rem;
  margin-left: 0.3rem;
}

/*RESPONSIVE*/

@media screen and (max-width: 450px) {
  html {
    position: fixed;
  }
  .container {
    padding: 1rem;
    height: calc(100vh - 2rem);
  }
  .bio {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: normal;
    text-align: right;
  }
  .links {
    width: 100%;
    margin: 0 auto;
    font-size: 0.7rem;
  }
  .links li {
    margin: 0.5rem;
  }
  .poster {
    padding: 0.5rem;
    width: calc(100% - 1rem);
  }
  #details {
    left: 0;
  }
}

/* ----------- iPad mini ----------- */

@media screen and (max-width: 768px) {
  html {
    position: fixed;
  }
}






