@import url('https://fonts.googleapis.com/css?family=Cardo|Lora');

/* LAYOUT */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Cardo', sans-serif;
  overflow: hidden;
}

a {
  height: 100%;
  width: 100%;
}


/* INNER LEFT */

  #left-content {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 50%;
  }

  .about-left-content {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
  }
    .about-left-content .container {
      background-color: #373234;
      color: #ffffff;
    }
      .bio {
        /* margin: 0 2%; */
        text-align: center;
        line-height: 1.5rem;
        letter-spacing: 1.5px;
        font-size: 1.2rem;
        font-weight: 600;
      }

      #menu-outer {
        width: 100%;
        position: absolute;
        bottom: 0;
        padding: 2rem 0;
        text-align: center;
      } 
      nav a {
        text-decoration: none;
        color: inherit;
        margin: 0 0.8rem;
      }  


  .about-right-content {
    position: absolute;
    z-index: 400;
    width: 50%;
    height: 100%;
    right: 0;
  }
    .poster {
      display: inline-block;
    }
    .face {
      max-height: 200px;
    }
    .slideInfo {
      margin: 20% 10%;
      display: none;
    }
     
      .title {
        font-family: 'Lora', sans-serif;
        font-weight: 600;
        font-size: 3rem;
        letter-spacing: 1.5px;
      }
    
      .title:before {
        content: ""; 
        display: block;
        margin-bottom: 0.1rem; 
        width: 1.5rem;
        height: 2.5px;
        background-color: #d84339;
      }
      .subTitle {
        margin-top: 1rem;
        text-transform: uppercase;
        font-size: 0.7rem;
      }
      .activeTitle {
        display: block;
      }
     


/* INNER RIGHT */

  #right-content {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
  }
    .slide {
      height: 100vh;
      width: 100vw;
    }
    .portfolio-right-content {
      float: right;
      width: 50%;
      height: 100vh;
    }
      .portfolio-right-content > .container {
        border-left-style: solid;
        border-left-color: #d84339;
        color: #323039;
      }

    .portfolio-left-content {
      float: left;
      width: 50%;
      height: 100vh;
    }

    .portfolio-left-content:after {
      background-color: #222222;
      height: 100%;
      width: 100%;
      opacity: 0.1;
    }

      .pic {
        height: 100%;
        width: 100%;
        filter: grayscale(100%);
        background-repeat: no-repeat;
        background-position: top center;
        background-size: cover;
      }

      .one {
        background-image: url('../images/bo3.png');
      }
      .two {
        background-image: url('../images/mock.png');
      }
      .three {
        background-image: url('../images/3pd.png');
      }
      .four {
        background-image: url('../images/dd.png')
      }
      .five {
        background-image: url('../images/cbd.png')
      }
      .six {
        background-image: url('../images/rsvp.png')
      }


 #firstSlide {
    position: absolute;
    top: 0;
  }
  .slide {
    position: absolute;
    top: 100%;
  }


/* Navigation */

.scroll-bar {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 1rem;
  border-color: #d84339;
  border-style: solid;
  border-width: 0;
  border-right-width: 5px;
}




/* CONTENT */

.scale-in-ver-top {
	-webkit-animation: scale-in-ver-top 0.8s ease-in-out 0.2s both;
	        animation: scale-in-ver-top 0.8s ease-in-out 0.2s both;
}
.scale-in-ver-bottom {
	-webkit-animation: scale-in-ver-bottom 0.8s ease-in-out 0.2s both;
	        animation: scale-in-ver-bottom 0.8s ease-in-out 0.2s both;
}

.scale-out-ver-bottom {
	-webkit-animation: scale-out-ver-bottom 0.8s ease-in-out both;
	        animation: scale-out-ver-bottom 0.8s ease-in-out both;
}
.scale-out-ver-top {
	-webkit-animation: scale-out-ver-top 0.8s ease-in-out both;
	        animation: scale-out-ver-top 0.8s ease-in-out both;
}

.left-link { 
  position: absolute;
  left: 1.8rem;
  bottom: 2rem;
  color: black;
  font-size: 1rem;
  cursor: pointer;
}
  .dash {
    display: block;
    margin-bottom: 4px; 
    width: 20%;
    height: 2px;
    background-color: #d84339;
    transition: width 0.5s;
  }

.left-link.hidden {
  display: none;
}

.left-link:hover .dash {
  width: 100%;
}


#details {
  position: absolute;
  top: 48%;
  left: 0%;
  margin-left: 3rem;
  z-index: 5;
}

.fas {
  color: #eeeeee;
  opacity: 1;
  text-align: center;
  cursor: pointer;
  font-size: 1.8rem;
  background-color: #d84339;
  border-radius: 50%;
  padding: 10px 13px 10px 16px;
  transition: transform 0.8s;
}

.fas:hover {
  transform: scale(1.2);
}

.container {
  overflow: auto;
  color: #323039;
  height: 100vh;
  background-color: #fefcf9;
}

.content {
  padding: 2rem;
  overflow: hidden;
}


/* KEYFRAMES */

@-webkit-keyframes scale-in-ver-top{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}}@keyframes scale-in-ver-top{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}}
@-webkit-keyframes scale-in-ver-bottom{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}}@keyframes scale-in-ver-bottom{0%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}100%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}}

@-webkit-keyframes scale-out-ver-bottom{0%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}100%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}}@keyframes scale-out-ver-bottom{0%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}100%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:0 100%;transform-origin:0 100%;opacity:1}}
@-webkit-keyframes scale-out-ver-top{0%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}100%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}}@keyframes scale-out-ver-top{0%{-webkit-transform:scaleY(1);transform:scaleY(1);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}100%{-webkit-transform:scaleY(0);transform:scaleY(0);-webkit-transform-origin:100% 0;transform-origin:100% 0;opacity:1}}



/* RESPONSIVE */

@media screen and (max-width: 450px) {
  html {
    position: fixed;
  }
  .container {
    padding: 1rem;
    height: calc(100vh - 2rem);
  }
  .bio {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1rem;
    letter-spacing: normal;
    text-align: right;
  }
  .poster {
    padding: 0.5rem;
    width: calc(100% - 1rem);
  }
  #details {
    left: 0;
  }
}

/* ----------- iPad mini ----------- */

@media screen and (max-width: 768px) {
  html {
    position: fixed;
  }
}






