@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

/* LAYOUT */
html, body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Playfair Display', serif;
  overflow: hidden;
}

/* Left */

  #left-content {
    position: absolute;
    height: 100%;
    width: 100%;
    right: 50%;
  }

  .left-info-slide {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
  }
    .left-info-slide .container {
      background-color: #3C45C0;
    }
      .bio {
        margin: 0 3%;
        text-align: center;
        line-height: 1.5rem;
        letter-spacing: 1.5px;
        font-size: 1.15rem;
      }
      .links {
        position: absolute;
        bottom: 0.6rem;
        right: 1.1rem;
      }
      li {
        margin: 1rem;
        float: left;
        display: block;
        cursor: pointer;
      }

  .right-content-slide {
    z-index: 400;
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
  }


/* Navigation */

  #slider {

  }

/* Right */

  #right-content {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 50%;
  }

  .right-info-slide {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
  }

  .left-content-slide {
    position: absolute;
    width: 50%;
    height: 100%;
    left: 0;
  }
    .left-content-slide .container {
      background-image: url('../images/dd.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

/* CONTENT */

#contact {
  color: black;
  position: relative;
  left: -10px;
  top: 98%;
  font-size: 0.8rem;
  cursor: pointer;
}
  .purp {
    position: absolute;
    left: -2px;
    top: -10px;
    margin: 5px;
    background-color: #3C45C0;
    width: 20px;
    height: 3px;
  }

#details {
  position: relative;
  top: 48%;
}

.fas {
  opacity: 1;
  text-align: center;
  cursor: pointer;
  font-size: 1.6rem;
  background-color: #FF8C00;
  border-radius: 50%;
  padding: 8px 11px 8px 13px;
}

.container {
  color: white;
  padding: 2rem;
  height: calc(100vh - 4rem);
  background-color: white;
}









